{% extends "navfooter.html" %}


{% block xyz %}

<h1>thia is first heading</h1>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/900×700/?mountains" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/900×700/?fountain" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/900×700/?trees" class="d-block w-100" alt="...">
      </div>
    </div>
    
  </div>
{% endblock xyz %}